services:
  gis-service:
    build: ./services/gis-service
    ports:
      - "8000:8000"

  emission-engine:
    build: ./services/emission-engine
    ports:
      - "8001:8000"
    environment:
      GIS_BASE_URL: http://gis-service:8000
    depends_on:
      - gis-service

  dispersion-engine:
    build: ./services/dispersion-engine
    ports:
      - "8002:8000"
    environment:
      GIS_BASE_URL: http://gis-service:8000
      EMISSION_ENGINE_URL: http://emission-engine:8000
    depends_on:
      - gis-service
      - emission-engine

  intervention-engine:
    build: ./services/intervention-engine
    ports:
      - "8003:8000"
    environment:
      DISPERSION_ENGINE_URL: http://dispersion-engine:8000
    depends_on:
      - dispersion-engine

  optimizer-service:
    build: ./services/optimizer-service
    ports:
      - "8004:8000"
    environment:
      DISPERSION_ENGINE_URL: http://dispersion-engine:8000
      INTERVENTION_ENGINE_URL: http://intervention-engine:8000
    depends_on:
      - dispersion-engine
      - intervention-engine

  api-gateway:
    build: ./services/api-gateway
    ports:
      - "8005:8000"
    environment:
      GIS_BASE_URL: http://gis-service:8000
      EMISSION_ENGINE_URL: http://emission-engine:8000
      DISPERSION_ENGINE_URL: http://dispersion-engine:8000
      INTERVENTION_ENGINE_URL: http://intervention-engine:8000
      OPTIMIZER_ENGINE_URL: http://optimizer-service:8000
      GOOGLE_CLOUD_PROJECT: urbun-carbon-twin
      GOOGLE_CLOUD_LOCATION: us-central1
      GOOGLE_APPLICATION_CREDENTIALS: /app/urbun-carbon-twin.json
    depends_on:
      - gis-service
      - emission-engine
      - dispersion-engine
      - intervention-engine
      - optimizer-service

  frontend:
    build: ./frontend/next-dashboard
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_GATEWAY: http://localhost:8005
    depends_on:
      - api-gateway


